header{
    background-color: #CFD0E6;
}

section{
    margin-top: 5%;
}

h5{
    text-align: center;
}

button{
    margin: 0 auto;
}

a{
    margin: 0 auto;
    color: #4873FF;
}

td label{
    text-align: center;
}

div.form-group{
    text-align: center;
}

.login{
    font-weight: bold;
}

.btn-config{
    margin-left: 40%;
}