<!DOCTYPE HTML>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" href="../View/_css/estilo.css">
        <link rel="shortcut icon" href="../image/favicon.ico"/>
    </head>

    <body>        
        <!-- CONTEÚDO -->
        <section class="container-fluid col-sm-7">
            <div class="container text-center">
                <div class="form-group">
                    <img src="../image/logo.png" alt="Unidas">
                </div>
            </div>   
            
            <div class="container col-sm-6">
                <form action="#">
                    <!-- CAMPO DO USUARIO -->
                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input type="text" class="form-control" id="usuario" placeholder="Usuário">
                    </div>

                    <!-- CAMPO DE SENHA -->
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha" placeholder="Senha">
                    </div>
                    
                    <!-- BOTÃO DE AÇÃO -->
                    <div class="form-group text-center">
                        <button onclick="window.location.href='./TelaInicial.html'" type="button" class="btn btn-primary center-block">Enviar</button>
                    </div>
                    
                </form>
                
                <!-- LINK PARA RECUPERAR SENHA -->
                <div class="form-group text-center">
                    <a href="./recuperaLogin.html">Esqueceu a senha?</a>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="container-fluid login">
            <div class="text-center">
                <p class="text-muted">&#x24B8; Unidas 2020 - Todos os Direitos Reservados</p>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
